:root {
    --background-color: #F5F5F5;
    --font: Georgia;
    --font-color: whitesmoke;
    --color-dark: #3F2305;
}

h1, h3{
    margin: 0;
    color: var(--color-dark);
}

body {
    font-family: var(--font), serif;
    font-size: 18px;
    margin: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-dark);
}

.mobile-buttons{
    display: none;
    gap: 10px;
}

.mobile-buttons button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    font-size: inherit;
    font-family: inherit;
    background-color: whitesmoke;
    cursor: pointer;
    height: fit-content;
    transition: transform 0.3s;
}

.mobile-buttons button:hover {
    transform: scale(1.02);
}

.sign-in{
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-dark);
    color: var(--font-color);
    font-size: x-large;
    font-family: inherit;
    height: fit-content;
    transition: transform 0.2s ease;
}

.sign-in:hover{
    transform: scale(1.02);
}

.wrapper{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
    align-items: flex-start;
    padding-top: 90px;
}

.side-panel{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    padding: 20px;
    gap: 20px;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    flex: 1;
}

.sub-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

input[type='checkbox']{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

input[type='checkbox']:hover{
    transform: scale(1.02);
}

input[type="checkbox"]:checked {
    background-color: var(--color-dark);
}

input[type="checkbox"]:checked::after {
    content: "✔";
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
}

.author{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    font-size: inherit;
    font-family: inherit;
    height: fit-content;
    transition: transform 0.2s ease;
}

.author:hover{
    transform: scale(1.02);
}

.side-panel h2,
.main-top h2 {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--color-dark);
}

.main{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
}

.main-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sorting {
     padding: 10px 20px;
     border-radius: 10px;
     border: 1px solid var(--color-dark);
     color: var(--color-dark);
     font-size: inherit;
     font-family: inherit;
     background-color: whitesmoke;
     cursor: pointer;
     height: fit-content;
     transition: transform 0.2s ease;
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

.sorting:hover{
    transform: scale(1.02);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 0;
    justify-content: start;
}

.book-card {
    background-color: whitesmoke;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.book-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    flex: 2;
}

.book-title {
    font-size: 18px;
    margin: 10px 0 5px;
    color: var(--color-dark);
    text-align: left;
}

.book-author {
    font-size: 16px;
    color: #777;
    margin: 0;
    text-align: left;
}

.active-filters {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter-chip {
    background-color: #eee;
    color: #333;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.filter-chip button {
    background: none;
    border: none;
    margin-left: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.filter-chip button:hover {
    color: #333;
}

.hidden {
    display: none !important;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding: 20px;
    box-sizing: border-box;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 14px;
    width: 350px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: var(--font), serif;
    gap: 10px;
}

.popup-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--color-dark);
}

.popup-content p {
    margin: 8px 0;
    color: #444;
}

.popup-close {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--color-dark);
    color: var(--font-color);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.popup-close:hover {
    transform: scale(1.03);
}

.show-favorites,
.show-all {
    padding: 10px 15px;
    font-size: inherit;
    background-color: var(--background-color);
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    height: fit-content;
}

.show-favorites:hover,
.show-all:hover {
    transform: scale(1.05);
}

.add-favorite {
    cursor: pointer;
    padding: 12px 20px;
    font-family: var(--font), serif;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--color-dark);
    background-color: whitesmoke;
    color: var(--color-dark);
    transition: transform 0.2s ease;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.add-favorite:hover {
    transform: scale(1.02);
}

.add-favorite.remove {
    background-color: var(--color-dark);
    color: var(--font-color);
    border-color: var(--color-dark);
}

.add-favorite.remove:hover {
    transform: scale(1.02);
}



@media (max-width: 1024px) {
    .side-panel {
        position: fixed;
        top: 78px; /* під хедером */
        left: 0;
        width: 80vw;
        max-width: 300px;
        height: calc(100vh - 60px);
        background-color: var(--background-color);
        border: 1px solid var(--color-dark);
        border-radius:0;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1100;
        display: flex;
        flex-direction: column;
    }

    .side-panel.mobile-active {
        transform: translateX(0);
        display: flex;
    }

    .mobile-buttons {
        display: flex;
        gap: 10px;
        order: 1;
    }

    .main-top {
        gap: 10px;
        flex-wrap: nowrap;
    }

    .main-top h2 {
        width: auto;
        margin-bottom: 0;
        margin-right: auto;
    }

    .sorting {
        order: 2;
    }

    .books-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .book-card img{
        height: auto;
    }
}

@media (max-width: 768px) {
    .main-top {
        flex-wrap: nowrap;
        gap: 10px;
    }

    .main-top h2 {
        width: auto;
        margin-bottom: 0;
        margin-right: auto;
    }

    .mobile-buttons {
        order: 0;
    }

    .books-grid {
        grid-template-columns: 1fr;
    }

    .book-card img{
        height: auto;
    }
}